{% extends ":admin:base.html.twig" %}
{% block title %}Footer{% endblock %}

{% block body %}
<nav>
        <div id="jCrumbs" class="breadCrumb module">

            <ul>{% block sitmap %}
                <li>    
                    <a href="{{ path("admin_general_homepage") }}"><i class="icon-home"></i></a>
                </li>
                <li>    
                    <a href="#">Footer</a>
                </li>
            {% endblock %}
        </ul>
    </div>
</nav>  
{{ form(form) }}        
{% endblock %}