{% extends ":front:base.html.twig" %}
{% block title %}Vérifier Votre courrier électronique{% endblock %}
{% block body %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="javascript:void(0)">Mot de passe oublié</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="push-up top-equal blocks-spacer-last">
            <div class="row">
                <div class="span12">
                    <div class="title-area">
                        <h1 class="inline">Vérifier Votre courrier électronique</h1>
                    </div>
                </div>
                <section class="span12 single single-page">
                    <section class="contact-form-container">
                        {% trans_default_domain 'FOSUserBundle' %}
                        <p>
                            {{ 'resetting.check_email'|trans({'%email%': email}) }}
                        </p>
                    </section>
            </div>
        </div>
    </div>
{% endblock %}