&nbsp;
{% if user.prenom !="" %}
                            <div class="lang-currency">
                                <div class="dropdown js-selectable-dropdown">
                                    <a data-toggle="dropdown" class="selected" href="#"><span class="js-change-text">Mon espace</span> <b class="caret"></b></a>
                                    <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                        <li {% if app.request.get('_route')=='monprofile' %}class="active"{% endif %}><a href="{{ path('monprofile') }}">Mon profile</a></li>
                                        <li {% if app.request.get('_route')=='fos_user_change_password' %}class="active"{% endif %}><a href="{{ path('fos_user_change_password') }}">Modifier mot de passe</a></li>
                                    </ul>
                                </div>
                            </div>
{% endif %}							